<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean autowire="byName" class="com.dharma.spring.draw.Triangle" destroy-method="cleanUp" id="dharmaTriangle" init-method="myInit">
    </bean>

    <bean class="com.dharma.spring.draw.Point" id="pointA">
        <property name="x" value="0"></property>
        <property name="y" value="0"></property>
    </bean>

    <bean class="com.dharma.spring.draw.Point" name="pointB">
        <property name="x" value="-20"></property>
        <property name="y" value="20"></property>
    </bean>

    <bean class="com.dharma.spring.draw.Point" id="pointC">
        <property name="x" value="20"></property>
        <property name="y" value="20"></property>
    </bean>

</beans>
